<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-comments" style="font-size: 26px;"></i>
      <% end %>
    <% end %>

    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-circle-plus" style="font-size: 26px;"></i>
    <% end %>


    <%= link_to events_path do %>
      <%= image_tag "Miroodles.png", class: "navbar-lewagon-logo"%>
    <% end %>


    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-list-check" style="font-size: 26px;"></i>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path do %>
        <div style="font-size: 13px;text-align: center;"><%= cl_image_tag current_user.photo.key, class: "avatar"%></div>
      <% end %>
    <%end%>
  </div>
</div>
