<!-- Modal -->
<div class="modal fade rounded-bottom" id="modal<%= event.id %>" tabindex="-1" aria-labelledby="modal<%= event.id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%# DIV BODY%>
      <div class="position: relative flex: 1 1 auto">
        <%# MODAL BODY - WRITE CODE DOWNHERE %>
          <%# IMAGE %>
        <div class="w-100 image-modal" >
          <% if event.photos.attached? %>
            <%= cl_image_tag event.photos.first.key,  height: 250, width: 372, crop: :fill%>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
          <% end %>
          <button class="button-back" type="button" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 24px; left: 20px; padding: 12px;"><i class="fa-solid fa-arrow-left position-relative" style= "color: #F93C52"></i></button>
        </div>

        <%# CARD SHOW %>
        <div class="card-show">
          <div class="d-flex justify-content-between">
            <h6><%=event.title%></h6>
            <div style="font-size: 30px;"><%= Event::FLAGS[event.language.to_sym] %></div>
          </div>
          <p><%=event.description%></p>
        </div>

        <!-- MAPBOX OPEN -->

        <div class="ms-3 me-3 p-2">
          <p style="color: rgba(99, 99, 99, 0.6);font-size: 13px;font-weight: bold;"><%= event.address %><p>
          <div class="card-show__map"
            data-controller="map"
            data-map-markers-value="<%= [{lat: event.latitude, lng: event.longitude, image_url: asset_path("map-marker.png")}].to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

        <!-- MAPBOX CLOSE -->


        <br>
        <br>
        <br>

          <div class="card-show__footer">


            <!-- JS COUNTER PARTICIPANTS OPEN-->

            <div class="container-counter" data-controller="counting">
                <!-- adding button and heading to show the digits -->
                <!-- increment() and decrement() functions on button click-->
                <button type="button" class="btn btn-light" style="font-size: 18px; font-weight: bold;" data-action="click->counting#decrement">-</button>
                <H4 style="margin-bottom: 0;" data-counting-target="participant">1</H4>
                <button type="button" class="btn btn-light" style="font-size: 18px; font-weight: bold;" data-action="click->counting#increment">+</button>
            </div>

              <!-- JS COUNTER PARTICIPANTS CLOSE-->

              <!-- BUTTON PARTICIPATE OPEN -->
              <%= link_to event_bookings_path(event, booking: {nb_guest: "4", user_id: current_user, event_id: event.id}),data:{ turbo_method: :post}, class:"btn-primary" do %>
                PARTICIPATE +
              <% end %>
              <!-- BUTTON PARTICIPATE CLOSE -->

        <%# ////////////// FOOTER CLOSE //////////// %>
          </div>
        <%# ////////////// MODAL BODY CLOSE //////////// %>
      </div>
    </div>
  </div>
</div>
