<!-- Modal -->
<div class="modal fade rounded-bottom" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%# DIV BODY%>
      <div class="position: relative flex: 1 1 auto">
        <%# MODAL BODY - WRITE CODE DOWNHERE %>
          <%# IMAGE %>
        <div class="w-100 image-modal" >
          <% if event.photos.attached? %>
            <%= cl_image_tag event.photos.first.key,  height: 250, width: 372, crop: :fill%>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
          <% end %>
          <button class="button-back" type="button" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 24px; left: 20px; padding: 12px;"><i class="fa-solid fa-arrow-left position-relative"></i></button>
        </div>

        <%# CARD SHOW %>
        <div class="card-show">
          <div class="d-flex justify-content-between">
            <h6><%=event.title%></h6>
            <div style="font-size: 30px;"><%= Event::FLAGS[event.language.to_sym] %></div>
          </div>
          <p><%=event.description%></p>


          <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
            <div data-insert-in-list-target="items">
              <p><%= pluralize Booking.joins(:reviews).where(event: event).size, "review" %><p>
                <% if Booking.joins(:reviews).where(event: event).empty? %>
                  Be the first to leave a review for <%= event.title %>
                <% else %>
                  <% Booking.joins(:reviews).where(event: event).each do |review| %>
                    <p><%= review.content %></p>
                  <% end %>
                <% end %>
            </div>
            <% if Booking.find_by(user: current_user, event: event) %>
              <%= render 'reviews/form', booking: Booking.find_by(user: current_user, event: event), review: @review %>
            <% end %>
          </div>
        </div>

        <!-- MAPBOX OPEN -->

        <div class="ms-3 me-3 p-2">
          <p style="color: rgba(99, 99, 99, 0.6);font-size: 13px;font-weight: bold;"><%= event.address %><p>
          <div class="card-show__map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

        <!-- MAPBOX CLOSE -->


        <br>
        <br>
        <br>

          <div class="card-show__footer">


            <!-- JS COUNTER PARTICIPANTS OPEN-->

            <div class="container-counter">
                <!-- adding button and heading to show the digits -->
                <!-- increment() and decrement() functions on button click-->
                <button type="button" class="btn btn-light" style="font-size: 18px; font-weight: bold;" onclick="decrement()">-</button>
                <h4 id="counting"></h4>
                <button type="button" class="btn btn-light" style="font-size: 18px; font-weight: bold;" onclick="increment()">+</button>
            </div>
            <!-- JavaScript code-->
            <script>
                //initialising a variable name data
                var data = 1;

                //printing default value of data that is 0 in h2 tag
                document.getElementById("counting").innerText = data;

                //check if data > 0
                function testNum(data) {
                  if (data = 1) {
                     return 1;
                  } else {
                    data - 1;
                  }
                  return data;
                }

                //creation of increment function
                function increment() {
                  data = data + 1;
                    document.getElementById("counting").innerText = data;
                }
                //creation of decrement function
                function decrement() {
                  data = testNum(data);
                    document.getElementById("counting").innerText = data;
                }
            </script>
              <!-- JS COUNTER PARTICIPANTS CLOSE-->

              <!-- BUTTON PARTICIPATE OPEN -->
              <%= link_to event_bookings_path(event, booking: {nb_guest: "4", user_id: current_user, event_id: event.id}),data:{ turbo_method: :post}, class:"btn-primary" do %>
                PARTICIPATE +
              <% end %>
              <!-- BUTTON PARTICIPATE CLOSE -->

        <%# ////////////// FOOTER CLOSE //////////// %>
          </div>
        <%# ////////////// MODAL BODY CLOSE //////////// %>
      </div>
    </div>
  </div>
</div>
