<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="events">
        <div class="categories-layout">
          <i class="fa-solid fa-utensils categories-form"></i>
          <i class="fa-solid fa-utensils categories-form"></i>
          <i class="fa-solid fa-utensils categories-form"></i>
          <i class="fa-solid fa-utensils categories-form"></i>
        </div>

        <div class="input-group my-4">
          <div class ="input-primary mb-2">
            <i class="fa-solid fa-location-dot pin-form"></i>
            <%= form_tag events_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :address,
                params[:query],
                class: "form-input",
                placeholder: '&nbsp'.html_safe
              %>
            <% end %>
          </div>

          <div class="input-secondary mb-2">
            <i class="fa-solid fa-comment pin-form-2"></i>
            <%= form_tag events_path, method: :get do %>
            <%= text_field_tag :language,
              params[:query],
              class: "form-secondary",
              placeholder: '&nbsp'.html_safe
            %>
            <% end %>

            <%= simple_form_for [@event],
                          html: {
                            data: {
                              controller: 'flatpickr'
                            }
                          } do |f| %>
            <%= f.input :date,
                        as: :string,
                        input_html: {
                          class: "form-date",
                          data: {
                            flatpickr_target: 'date',
                          }
                        }, label: '&nbsp'.html_safe, required: false %>
            <% end %>
          </div>

        </div>

        <% @events.each do |event| %>
          <%= link_to event_path(event), class:'card-event' do %>
            <% if event.photos.attached? %>
              <%= cl_image_tag event.photos.first.key, height: 100, width: 200, crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
            <% end %>
            <div class="card-event-infos">
              <div class="card-event-infos__avatar">
                <% if event.user.photo.attached? %>
                  <%= cl_image_tag event.user.photo.key, class: "avatar"%>
                <% else %>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar"/>
                <% end %>
                  <img src=<%= Event::FLAGS[event.language.to_sym] %> class="flag" style="margin-right:auto"/>
              </div>
              <div class="card-event-infos__title">
                <h2><%= event.title.capitalize %></h2>
                <p><%= event.date.strftime('%d/%m/%Y') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
