<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="events">

        <div class="input-group my-4">
          <div class ="input-primary mb-2">
            <i class="fa-solid fa-location-dot pin-form"></i>
            <%= form_tag events_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :address,
              params[:query],
              class: "form-input",
              placeholder: '&nbsp'.html_safe
            %>
            <% end %>
          </div>
          <div class="input-primary mb-2">
            <i class="fa-solid fa-comment pin-form-2"></i>
            <%= form_tag events_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :language,
              params[:query],
              class: "form-input",
              placeholder: '&nbsp'.html_safe
            %>
            <% end %>
          </div>
          <div class="input-primary mb-2">
            <%= simple_form_for [@event],
                          html: {
                            data: {
                              controller: 'flatpickr'
                            }
                          } do |f| %>
            <%= f.input :date,
                        as: :string,
                        input_html: {
                          class: "form-date",
                          data: {
                            flatpickr_target: 'date',
                          }
                        }, label: '&nbsp'.html_safe, required: false %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
