<div class="card-event">
  <% if @event.photos.attached? %>
    <%= cl_image_tag @event.photos.first.key%>
  <% else %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
  <% end %>




  <div class="card-event-infos">
    <div class="card-event-infos__avatar">
      <% if @event.user.photo.attached? %>
        <%= cl_image_tag @event.user.photo.key, class: "avatar"%>
      <% else %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar"/>
      <% end %>

      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="flag" style="margin-right:auto"/>
    </div>
    <div class="card-event-infos__participants">
      <div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-event-user avatar"/>
      </div>
      <p>4/5</p>
    </div>
  </div>
  <div class="infos-title">
    <h2><%=@event.title.capitalize%></h2>
    <p><%= @event.date.strftime('%d/%m/%Y') %></p>
    <i class="fa-solid fa-kitchen-set pin-form"></i>
  </div>
</div>


<div class="event-description">
    <p><%=@event.description%></p>
</div>

<%= link_to event_bookings_path(@event, booking: {nb_guest: "4", user_id: current_user, event_id: @event.id}),data:{ turbo_method: :post}, class:'btn-participate' do %>
  <div class="btn-primary">PARTICIPATE +</div>
<% end %>

<div style="width: 100%; height: 300px; margin-top: 75px"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
