<div class="modal fade" id="modal-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="position: relative flex: 1 1 auto">
          <%# MODAL BODY - WRITE CODE DOWNHERE %>
            <%# IMAGE %>
          <div class="w-100 image-modal" >
            <% if event.photos.attached? %>
              <%= cl_image_tag event.photos.first.key,  height: 250, width: 372, crop: :fill%>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
            <% end %>
            <button class="button-back" type="button" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 24px; left: 20px; padding: 12px;"><i class="fa-solid fa-arrow-left position-relative"></i></button>
          </div>

          <%# CARD SHOW %>
          <div class="card-show">
            <div class="d-flex justify-content-between">
              <h6><%=event.title%></h6>
              <div style="font-size: 30px;"><%= Event::FLAGS[event.language.to_sym] %></div>
            </div>
            <p><%=event.description%></p>
            <%# <% link_to "Messages", chatroom_path(event.chatroom), class: "btn btn-foodbreaker" %> %>

          <%# ////////////// FOOTER CLOSE //////////// %>
            </div>
          <%# ////////////// MODAL BODY CLOSE //////////// %>
        </div>
      </div>
    </div>
  </div>
</div>
